# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

### String Manipulation

##### .lstrip()

In [2]:
# string.lstrip()

string1 = "         Bryce Kopyta        "
print(string1.lstrip())

Bryce Kopyta

##### .rstrip()

In [3]:
# string.rstrip()
string1 = "         Bryce Kopyta        "
print(string1.rstrip())

         Bryce Kopyta

##### .strip()

In [4]:
# string.strip()
string1 = "         Bryce Kopyta        "
print(string1.strip())

Bryce Kopyta

##### .title()

In [5]:
# string.title()
name1 = 'bryce'
print(name1.title())

Bryce

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [8]:
names = ['    coNNor', 'max', ' EVan ', 'JORDAN']
# HINT: You will need to use a for loop for iteration

for name in names:
    print(name.strip().capitalize())

Connor
Max
Evan
Jordan

In [10]:
nums_list = [1,2,3,4,5]

### Working With Lists

##### min()

In [11]:
# min(list)
print(min(nums_list))

1

##### max()

In [12]:
# max(list)

print(max(nums_list))

5

##### sum()

In [13]:
# sum(list)

print(sum(nums_list))

15

In [14]:
nums2 = [556, 34, 6, 345, 456456, 0, 67, -4]

##### sorted()

In [16]:
# sorted(list)

print(sorted(nums2))
print(nums2)

[-4, 0, 6, 34, 67, 345, 556, 456456]
[556, 34, 6, 345, 456456, 0, 67, -4]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [ ]:
# list.sort()


# use sorted when you don't want to alter original list, use .sort() when you want to alter original list

##### Copying a List

In [18]:
# [:] copies a list, doesn't alter original
# range(start,stop,step)
# [start:stop:step]

nums3 = nums2[:]
print(nums3)
nums3.append(0)
print(nums3)

[556, 34, 6, 345, 456456, 0, 67, -4]
[556, 34, 6, 345, 456456, 0, 67, -4, 0]

In [19]:
print(nums3[3::2])

[345, 0, -4]

##### 'in' keyword

In [21]:
print('T' in 'Tony')
print('t' in 'Tony')
print('T' not in 'Tony')
print('t' not in 'Tony')

True
False
False
True

##### 'not in' keyword

In [ ]:
#see above

##### Checking an Empty List

In [22]:
# if l_1: or if l_1 = []
# truthy and falsey . . . 0, emoty just about anything "", [], {}, are going to evaluate to false but
# any values and they will evaluate to true

l_1 = [6]
zero = 1

if not zero:
    print('HAHAHA I got it to work')
    
if l_1:
    print(f'{l_1[0]} is some kind of value!')

6 is some kind of value!

##### Removing Instances with a Loop

In [25]:
# while, remove

name_list = ['Robin', 'Robin', 'Adrian', 'Robin', 'Tony']
name_list.remove('Robin')
print(name_list)

while 'Robin' in name_list:
    name_list.remove('Robin')
print(name_list)

['Robin', 'Adrian', 'Robin', 'Tony']
['Adrian', 'Tony']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [26]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# Hint 1: You will need an append
# Hint 2: Using an empty list will make life easier
newlist = []

for i in names:
    if i not in newlist:
        newlist.append(i)
print(newlist)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [30]:
# number comprehension

# With a regular for loop
even_list = []

for num in range(50):
    if num % 2 == 0:
        even_list.append(num)
print(even_list)

# IN a list comprehension we have a few pieces:
# The first is the counter/ variable - IN this the variable is x
# Then we have a transform for the variable 
# The finale part of a list comp is called the condition
#[variable, transform, condition]
even_list2 = [num for num in even_list]
print(even_list2)
print([num for num in even_list])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [33]:
# square number comprehension

print([num**2 for num in range(10)])

squares = []
for num in range(10):
    squares.append(num ** 2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [37]:
# string comprehension
namelist = ['robin', 'mike', 'tony', 'harrison']
foods = ['chinese', 'sushi', 'burgers', 'pizza']

print([name[0] for name in namelist])

['r', 'm', 't', 'h']

In [38]:
print([num for num in range(50) if num % 2 == 0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [39]:
mutable = [1,3,5]
mutable[0] = -78
print(mutable)

[-78, 3, 5]

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [44]:
tup1 = 1,2,3
print(tup1, type(tup1))


tup2 = (1,2,3)
print(tup2)


print(tup1[0])



for t in tup2:
    print(t)
    
for i in range(len(tup2)):
    print(i, tup2[i])
    
print(list(tup2))

(1, 2, 3) <class 'tuple'>
(1, 2, 3)
1
1
2
3
0 1
1 2
2 3
[1, 2, 3]

In [46]:
tup3 = (5, 67, 87, 96, 96)

In [48]:
del(tup3[1])

TypeError: 'tuple' object doesn't support item deletion

In [49]:
tup4 = tup3 + (98,)
print(tup4)

(5, 67, 87, 96, 96, 98)

##### sorted()

In [47]:
print(sorted(tup3))

[5, 67, 87, 96, 96]

##### Adding values to a Tuple

In [ ]:
#See above works just like concatenation and see special case for one value

## Functions

##### User-Defined vs. Built-In Functions

In [51]:
# def function(parameter):
#     codeblock


def sayHI():
    print('Hello World')
    
print(sayHI())

Hello World
None

##### Accepting Parameters

In [52]:
def printName(first, last):
    print(first.title() + " " + last.title())
printName('bill', 'gates')

Bill Gates

##### Default Parameters

In [53]:
# default parameters go AFTER non-default parameters!!!
def printAgentName(first, last='Bond'):
    return f'The name is {last}, {first} {last}'
print(printAgentName('James'))

The name is Bond, james Bond

##### Making an Argument Optional

In [54]:
def printAgentName(first, middle = '', last='Bond'):
    return f'The name is {last}, {first} {middle} {last}'
print(printAgentName('James'))

The name is Bond, James  Bond

##### Keyword Arguments

In [56]:
# last_name='Max', first_name='Smith' in the function call
def superHero(name, power = 'flying'):
    return f'This character is {name} Their superpower is {power}'
print(superHero('superman'))
# see above

This character is superman Their superpower is flying

# Creating a start, stop, step function

In [57]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
my_range(50,25,5)

25
30
35
40
45

##### Returning Values

In [60]:
def adder(num1, num2):
    return num1 + num2
adder(5,5)


def mult(num, num2):
    print(num * num2)
    
mult(5,5)



mult(adder(5,5), 10)

25
100

##### *args

In [61]:
# *args is basically saying any number of arguments and **kwargs same but keyword arguments


def printArgs(num1, *args, **kwargs):
    print(num1)
    print(args)
    for a in args:
        print(a)
    for kw in kwargs:
        print(kw)
        
        
printArgs(456, 'Robin', 5, 'Tony', 7, 8, 'Judah', power="Flying", superpower = "falling hard")

456
('Robin', 5, 'Tony', 7, 8, 'Judah')
Robin
5
Tony
7
8
Judah
power
superpower

##### Docstring

In [63]:
def helper():
    """
    This is a docstring!
    This is how we can do multiple lines and specifically
    this will be used for description
    
    
    """
    
    print('You have been helped')
    
help(helper)

Help on function helper in module __main__:

helper()
    This is a docstring!
    This is how we can do multiple lines and specifically
    this will be used for description

##### Using a User Function in a Loop

In [64]:
for i in range(5):
    print(adder(i, 10))

10
11
12
13
14

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [34]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

full_name = []

#                            Can't figure it out :(


# def naminator():
#     full_name = zip(first_name, last_name)
#     return full_name

# print(full_name)
    
    
full_name = zip(first_name, last_name)
print(full_name)

<zip object at 0x110d12340>

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [66]:
global_num = 3

def scoper():
    func_scope = 3
    return global_num

print(global_num)
print(scoper())

3
3

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [21]:
# Use the following list - [1,11,14,5,8,9]

l_1 = [1,11,14,5,8,9]

l2 = []

def u10():
    for num in l_1:
        if num < 10:
            l2.append(num)
    return l2

print(u10())

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [5]:
l_1 = [1,2,3,4,5,6]
l_2 = [3,4,5,6,7,8,10]

list3=[]

def joiner():
    list3 = l_1 + l_2
    list3.sort()
    return list3
print(joiner())

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 8, 10]